.eventContent {
    position: absolute;
    z-index: 10;
    border-radius: 0 10px 10px 0;
    font-size: 5pt;
    padding: 5px;
    min-height: 50px;
}

.eventContent h2 {
    font-weight: 500;
}

.eventContent h1 {
    font-weight: 600;
}

.eventContent:hover {
    cursor: pointer;
}