.baseCalendarHeader {
    width: calc(100% - 12px);
    height: 25%;
    display: grid;
    grid-template-columns: 5% 95%;
}

.calendarHeaderTitleText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.calendarHeaderTitle {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    height: 100%;
    color: var(--defaultTitleTextColor);
    width: calc(100% + 33.04px);
    margin-left: -15.02px;
}

.monthsHeader {
    display: grid;
    width: calc(100%);
    grid-template-columns: repeat(7, 1fr);
    color: var(--defaultTextColor);

}

.navigationMonths svg:hover {
    cursor: pointer;
}


.navigationMonths {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.individualHeaderTitle:first-of-type,
.individualHeaderTitle:last-of-type {
    color: red;
    opacity: 60%;
}

.individualHeaderTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}